.sidebar {
    width: 270px;
    min-width: 270px;
    height: 100vh;

    background: #071a33;

    display: flex;
    flex-direction: column;

    padding: 28px 20px;

    box-sizing: border-box;

    position: sticky;
    top: 0;

    overflow: hidden;
}


/* =========================
   LOGO
========================= */

.logo {
    margin: 0 0 45px 12px;

    color: white;

    font-size: 26px;
    font-weight: 700;

    line-height: 1.1;
}

.logo span {
    display: block;

    margin-top: 8px;

    font-size: 14px;
    letter-spacing: 4px;

    color: #b9c1cc;
}


/* =========================
   MENU
========================= */

.sidebar nav {
    display: flex;
    flex-direction: column;

    gap: 12px;

    margin: 0;
    padding: 0;
}


/* =========================
   LINKS
========================= */

.sidebar nav a {
    display: flex;
    align-items: center;

    width: 100%;

    min-height: 52px;

    padding: 0 14px;

    box-sizing: border-box;

    border-radius: 12px;

    color: #ffffff;

    text-decoration: none;

    font-size: 16px;
    font-weight: 600;

    transition: all .2s ease;
}


.sidebar nav a:hover {
    background: #132b4d;

    transform: translateX(3px);
}


/* =========================
   LINK ATIVO
========================= */

.sidebar nav a.active {
    background: #132b4d;

    box-shadow:
        0 0 0 2px #6c63ff inset;

    color: white;
}


/* =========================
   BOTÃO SAIR
========================= */

.btnSair {
    width: 100%;

    min-height: 50px;

    margin-top: auto;

    border: none;

    border-radius: 12px;

    background: #162b47;

    color: white;

    font-size: 16px;
    font-weight: 600;

    cursor: pointer;

    transition: all .2s ease;
}


.btnSair:hover {
    background: #243d5e;

    transform: translateY(-2px);
}


/* =========================
   RESPONSIVO
========================= */

@media (max-width: 900px) {

    .sidebar {
        width: 220px;
        min-width: 220px;

        padding: 22px 15px;
    }

    .logo {
        margin-bottom: 30px;
        font-size: 22px;
    }

    .sidebar nav a {
        font-size: 14px;
    }

}
.sidebar nav button {
    display: flex;
    align-items: center;

    width: 100%;
    min-height: 52px;

    padding: 0 14px;

    box-sizing: border-box;

    border: none;
    border-radius: 12px;

    background: transparent;

    color: #ffffff;

    font-size: 16px;
    font-weight: 600;

    text-align: left;

    cursor: pointer;

    transition: all .2s ease;
}

.sidebar nav button:hover {
    background: #132b4d;
    transform: translateX(3px);
}

.sidebar nav button.menuAtivo {
    background: #132b4d;
    box-shadow: 0 0 0 2px #6c63ff inset;
}